
#AI_FW_CmPerf
#NOTE: only this preffix can be listen: init.svc.vendor./ro.vendor./persist.vendor./vendor./init.svc.odm./ro.odm./persist.odm./odm./ro.boot.

on property:sys.boot_completed=1 
setprop persist.vendor.antdef.aiuiperfmode.rcinit 1

service cm_perfmode /vendor/bin/aiuiperfmode.sh
seclabel u:r:vendor_aiuish:s0
group root shell system
disabled
oneshot

service aiui_boot_boost /vendor/bin/aiuiboot.sh
seclabel u:r:vendor_aiuish:s0
group root shell system
disabled
oneshot


#normal
on property:persist.vendor.antdef.aiuiperfmode.running=0 && property:persist.vendor.antdef.aiuiperfmode.enable=1 && property:sys.boot_completed=1 

write /sys/devices/platform/10012000.dvfsrc/helio-dvfsrc/dvfsrc_req_ddr_opp -1
write /sys/kernel/ged/hal/custom_upbound_gpu_freq -1
stop power-hal-1-0
start power-hal-1-0
setprop persist.vendor.antdef.aiuiperfmode.rclog DDR_GPU=NORMAL


#perf
on property:persist.vendor.antdef.aiuiperfmode.running=1 && property:persist.vendor.antdef.aiuiperfmode.enable=1 && property:sys.boot_completed=1 
write /sys/devices/platform/10012000.dvfsrc/helio-dvfsrc/dvfsrc_req_ddr_opp 1
setprop persist.vendor.antdef.aiuiperfmode.rclog DDR=BOOST

#save
on property:persist.vendor.antdef.aiuiperfmode.running=2 && property:persist.vendor.antdef.aiuiperfmode.enable=1 && property:sys.boot_completed=1 
write /sys/devices/platform/10012000.dvfsrc/helio-dvfsrc/dvfsrc_req_ddr_opp 14
write /sys/kernel/ged/hal/custom_upbound_gpu_freq 26

stop power-hal-1-0
start power-hal-1-0
setprop persist.vendor.antdef.aiuiperfmode.rclog DDR_GPU=LIMIT


on property:persist.vendor.antdef.aiuiperfmode.running=* && property:persist.vendor.antdef.aiuiperfmode.enable=1 && property:sys.boot_completed=1 
setprop persist.vendor.antdef.aiuiperfmode.shinit 1
start cm_perfmode
#exec_background u:r:vendor_aiuish:s0 root root -- /vendor/bin/sh /vendor/bin/aiuiperfmode.sh
#exec_background u:r:su:s0 -- /vendor/bin/sh /vendor/bin/aiuiperfmode.sh
#exec_background - system system -- /vendor/bin/aiuiperfmode.sh

#cts boost cpu
on property:persist.vendor.antdef.aiui.stoppowerhal=1 && property:sys.boot_completed=1 
setprop persist.vendor.antdef.stoppowerhal 1
setprop persist.vendor.powerhal.enable 0
stop power-hal-1-0
start power-hal-1-0

on property:persist.vendor.antdef.aiui.stoppowerhal=0 && property:sys.boot_completed=1 
setprop persist.vendor.antdef.stoppowerhal 0
setprop persist.vendor.powerhal.enable 1
stop power-hal-1-0
start power-hal-1-0

#before boot_complete boost cpu
on property:persist.vendor.antdef.aiuiboost.highest=* && property:persist.vendor.antdef.aiuiboot.enable=1 && property:sys.boot_completed=1 
start aiui_boot_boost
